body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

width: auto;
}

.nav{
  margin: 15px;
  padding-top: 100px;
  position: fixed;
}
.shadow{
  width: 250px;
padding: 6px;
margin: 30px;
}
 .navegacion{
  display: flex;
} 
.nav-link{
  font-size: 20px;
  padding: 20px;
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
/* .nav-link:hover{
  color: darkorange;
} */
.botom {
  border-bottom: white 2px solid;
  padding: 25px;
  position: fixed;
}
.Items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-img-top{
  height: 250px;
}
@media (max-width:500px){
  .botom{
      border-bottom: none;
  }
  .bg-dark{
    width: 15%;
  }
  .Items{
    grid-template-columns:none
  }
}